body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(../img/orange.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 70px;
  color: snow;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

label {
  font-size: 1.2em;
  font-weight: bolder;
  border: 1px solid teal;
  border-radius: 10px;
  padding: 3px 10px;
}

label:hover {
  border: 1px solid orange;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cama,
#sector,
#nombreApellido,
#fIngreso,
#numeroHc,
#observaciones,
#diagnostico,
#edad {
  background: transparent;
  cursor: pointer;
  font-size: 1.3em;
  color: brown;
  border: none;
  border-bottom: 1px solid yellow;
}

.contButons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btnReg {
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
  padding: 5px 20px;
  font-size: 22px;
  color: #262626;
}

.btnReg:hover {
  color: white;
  border: 1px solid orange;
  font-weight: 200;
}

.btnAdmiCargadas {
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
  padding: 5px 20px;
  font-size: 22px;
  color: #262626;
}

.btnAdmiCargadas:hover {
  color: white;
  border: 1px solid orange;
  font-weight: 200;
}
