body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eeeeee;
  }
.header {
  background: #c25e00;
  border-radius: 3px;
  margin: 20px;
  }
form {
  background: #FB8C00;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  }
h1 {
  color: #fff;
  font-size: 70px;
  text-align: center;
  padding: 15px;
  }
input, select {
  text-align: center;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFF3E0;
  margin-top: 20px;
}

.logoHospi {
  width: 140px;
  height: 55px;
  background: transparent;
}

label {
  color: #fff;
  font-size: 1.5em;
  font-weight: 200;
  padding: 3px 10px;
  } 

#cama,
#sector,
#nombreApellido,
#fIngreso,
#numeroHc,
#observaciones,
#diagnostico,
#edad,
#oSocial {
  background: transparent;
  cursor: pointer;
  font-size: 1.3em;
  color: brown;
  border: none;
  border-bottom: 1px solid #ffbd45;
}

.contButons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.btnReg {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 7px;
  outline: none;
  padding: 5px 20px;
  font-size: 22px;
  color: #262626;
}

.btnReg:hover {
  color: white;
  border: 1px solid orange; 
  font-weight: 200; 
}

.btnAdmiCargadas {
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
  padding: 5px 20px;
  font-size: 22px;
  color: #262626;
}

.btnAdmiCargadas:hover {
  color: white;
  border: 1px solid orange;
  font-weight: 200;
}
input {
  text-align: center;
  }
