body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: #eeeeee;
  height: 100vh
  }
header {
  max-width: 1200px;
  background-color: #00675b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 20px;
  }
.busqueda {
  width: 450px;
  text-align: center;
  border: none;
  border-radius: 5px;
}
.volverB {
  background-color: #00675b;
  outline: none;
  border: 1px solid #52c7b8;
  color: #fff;
  padding: 10px 20px;
  border-radius: 7px;
  } 
.volverB:hover {
  border: 1px solid #fff;
  color: #52c7b8;
  }
.volverC {
  background-color: #00675b;
  outline: none;
  border: 1px solid #52c7b8;
  color: #fff;
  padding: 10px 20px;
  border-radius: 7px;
  }
.volverC:hover {
  border: 1px solid #fff;
  color: #52c7b8;
  }
.pegarModal {
  background-color: #52c7b8;
}
.activarModalInfo {
  background: transparent;
  font-size: 18px;
  border: 1px solid #00675b;
}
.activarModalInfo:hover {
  background: none;
  color: #00675b;
  border: 1px solid #fff;
  }
footer {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background: #E0F2F1;
  }
.logoHospi {
  width: 140px;
  height: 55px;
}

