*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }
body{
    padding: 0;
    margin: 0;
    width: 100vw; 
    height: 100vh;
    background: url(../img/bg23.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
header{
    width: 100%;
    margin: 0 auto;
    background: url(../img/banner1.png);
    box-shadow: 0 1px 1px rgba(0,0,0,.);
    }
header h1{
    color: #262626;
    font-size: 60px;
    text-align: center;
    padding: 25px;
    }
#contenedor{
    max-width: 1200px;
    height: 650px;
    margin: 20px auto;
    background: transparent;
    border-radius: 15px;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
    }
#contenedor .fondoDiv{
    background: rgb(254, 254, 255);
    border-radius: 10px;
    }    
h2 {
    color: #262626; 
    }
form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(1, 1fr); */
    grid-gap: 25px;
    padding: 10px;
    }
form > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    }
form input{
    width: 60%; 
    height: 30px; 
    background: rgb(254, 254, 255);
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: saddlebrown;  
    }
select{
    /*background: rgb(179, 221, 255);*/
    background: rgb(254, 254, 255);
    border: none; 
    outline: none;
    }
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    }
.btn-carga{
    border: 2px solid purple;
    outline: none;
    width: 120px; 
    height: 65px;
    font-size: 20px;
    font-weight: bolder;
    background: transparent;
    color: #262626;
    border-radius: 10px;
    cursor: pointer;
    transition: .7s;
    }
.btn-carga:hover{
    background: white;
    color: rgb(143, 9, 143);
    border: none;
    }
footer{
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    background-color: transparent;
    }
.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
a{
    text-decoration: none;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    }
.legales a{
    color: white;
    }
.legales a:hover {
    color: purple;
    }
ul a{
    padding: 0 10px;
    width: 100px;
    height: 100px;    
    font-size: 28px;
    }
.incorrecto{
    color: red;
    font-size: 14px;
    }
.correcto{
    color: green;
    font-size: 14px;
    }
.modal{
    z-index:100000px;
    }